{{#link-to 'article' article.id}}<div class="article">
  <div class="content">
    <h3>{{article.title}}</h3>
    <p>{{article.description}}</p>
    <p>{{article.author}}</p>
  </div>
  <img src="{{article.urlToImage}}" alt="{{article.title}}" />
</div>{{/link-to}}
