<a href="{{article.url}}">
<div class="article">
  <div class="content">
    <h3>{{article.title}}</h3>
    <p>{{article.description}}</p>
    <p>{{article.author}}</p>
  </div>
  {{#if article.urlToImage}}
    <img src="{{article.urlToImage}}" alt="{{article.title}}" />
  {{else}}
    <img src="http://fvest.com/wp-content/uploads/2016/06/placeholder-1170x650.gif" alt="{{article.title}}" />
  {{/if}}
</div>
</a>
